<?xml version="1.0"?>

<data>
	<module name="OpenGL">
		 <application name="OpenGL bbpinball demo">
				<description>OpenGL pinball demo, this demo shows a pinball machine</description>
		                <command>demos/bbpinball/command.exc &amp;</command>
		                <route>bbpinball</route>
				<image>bbpinball</image>
		 </application>
	</module>
</data>
